body {
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
}
p {
  font-size: 0.6rem;
  font-weight: 700;
  line-height: 1.5;
}
/*###---Header---##################################*/

header {
  background: rgba(243, 142, 88, 1);
  padding-bottom: 0.7rem;
}

#header_container {
  display: flex;
  flex-direction: row;
  margin: auto;
}
#header_mainbar {
  display: flex;
  flex: 2;
  flex-direction: column;
}
#menu {
  flex: 2;
  display: flex;
  margin-top: -1rem;
}
#logo_lander {
  flex: 2;
  height: 2.8rem;
  width: 6.2rem;
  margin-top: 0.03rem;
  margin-left: 2rem;
}
#navbar {
  padding-left: 0rem;
}
#navbar li {
  display: block;
  width: 4rem;
  height: 1.5rem;
  text-align: center;
  height: 1.5rem;
  border: transparent 1px solid;
  border-radius: 0.3rem;
  transition: all 0.2s;
}
.nav_href a {
  text-decoration: none;
  color: white;
  font-size: 0.55rem;
  height: 1.5rem;
}

.nav_href:hover {
  background: rgb(196, 117, 74);
}

#connexion {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 2%;
}

.social_link:hover {
  color: rgb(94, 47, 155);
}

#trial {
  margin-top: 0.8rem;
  margin-right: 0.3rem;
  background: rgb(3, 32, 48);
  border: transparent solid 1px;
  border-radius: 0.3rem;
  height: 1.6rem;
  width: 6.2rem;
  color: white;
  text-decoration: none;
  font-size: 0.45rem;
  transition: all 0.2s;
}

#trial:hover {
  background: cornflowerblue;
  box-shadow: 0.05rem 0.05rem 0.05rem rgb(14, 13, 13);
}

#login {
  margin-top: 0.8rem;
  background: rgba(243, 142, 88, 1);
  border: white 1px solid;
  border-radius: 0.3rem;
  height: 1.6rem;
  width: 4rem;
  color: white;
  text-decoration: none;
  font-size: 0.45rem;
  transition: all 0.2s;
}

#login:hover {
  background: rgb(47, 68, 35);
  box-shadow: 0.05rem 0.05rem 0.05rem black;
}

#title_main {
  margin-top: -6rem;
  margin-left: 3rem;
  text-align: center;
}
#title {
  color: white;
  font-size: 2.3rem;
  height: 1.73rem;
  font-weight: 900;
}
#sec_title {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 0.6rem;
  color: rgb(12, 12, 12);
}

/*###---Body---##################################*/

#main_container {
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  padding-bottom: 1rem;
}

#reach_team {
  display: flex;
  flex-direction: column;
}
#form_connect {
  display: flex;
  flex-direction: column;
}

#reach_us {
  flex: 2;
}

#formulaire {
  flex: 2;
  margin-bottom: 0.85rem;
  margin-top: 0.6rem;
}
.infos {
  width: 97%;
  height: 1.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 0.8rem;
  font-size: 0.7rem;
  border: 0.08rem solid rgb(221, 221, 221);
  border-radius: 0.3rem;
}
::placeholder {
  color: rgb(221, 221, 221);
}
#txt {
  padding-top: 0.4rem;
  height: 5rem;
  resize: none;
}

#div_btn_submit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#submit_btn {
  margin-top: 0.3rem;
  background: rgb(243, 142, 88);
  color: white;
  border: white 2px solid;
  border-radius: 0.3rem;
  height: 2.6rem;
  width: 5.8rem;
  color: white;
  text-decoration: none;
  font-size: 0.5rem;
  transition: 0.1s;
}

#submit_btn:hover {
  background: rgb(211, 124, 77);
  box-shadow: 0.1rem 0.1rem 0.1rem rgb(165, 157, 157);
  font-size: 60%;
}

.third_title {
  color: rgb(85, 182, 226);
  font-weight: 900;
  margin-bottom: 0.9rem;
}
.social_link {
  color: rgb(218, 158, 132);
  text-decoration: none;
}

#conntections {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.logo_connection {
  height: 2.6rem;
  width: 2.6rem;
  margin-right: 0.7rem;
}
#facebook {
  display: flex;
  flex-direction: row;
}
.para_facebook {
  margin-top: 0rem;
}
#twitter {
  display: flex;
  flex-direction: row;
  padding-top: 0.4rem;
}
.para_twitter {
  margin-top: 0rem;
}
#linkedin {
  display: flex;
  flex-direction: row;
  padding-top: 0.4rem;
}
.para_linkedin {
  margin-top: 0rem;
}

/*###---Footer---##################################*/

footer {
  background: rgba(64, 64, 64, 1);
  font-size: 0.5rem;
  line-height: 1.6;
  padding-top: 1rem;
  padding-bottom: 0.4rem;
}
footer li {
  width: 7rem;
  margin-right: 0rem;
}

#footer_container {
  display: flex;
}
.footer_title {
  color: rgba(253, 253, 253, 1);
  margin-top: 1rem;
}
.footer_list {
  list-style-type: none;
}
.footer_hrefs {
  color: rgba(172, 172, 172, 1);
  text-decoration: none;
}

.footer_hrefs:hover {
  color: cyan;
}

.footer_titles {
  color: white;
}

#about_lander {
  flex: 2;
}
#help {
  flex: 2;
}
#resources {
  flex: 2;
}
#landing_pages {
  flex: 2;
}
#split_trylander_creatlander {
  flex: 2;
}
#split_com-tuned {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#stay_tuned {
  display: flex;
  flex-direction: column;
}
.img_social {
  width: 0.82rem;
  height: 0.82rem;
  margin-right: 0.1rem;
  margin-top: 0.2rem;
}
.img_social:hover {
  width: 1rem;
  height: 1rem;
  margin-right: -0.08rem;
  margin-top: 0.02rem;
}
#ref_fb {
  margin-left: -0.2rem;
}
#footer_tuned_links {
  padding-left: 0rem;
}
#footer_tuned_links li {
  display: inline-block;
}
.empty_line1 {
  margin: 0rem;
  line-height: 0.5;
}
.empty_line2 {
  margin: 0rem;
  line-height: 1.5;
}
#create_landing_page_btn:hover {
  background: rgb(0, 153, 153);
  box-shadow: 0.1rem 0.1rem 0.1rem rgb(248, 246, 246);
  color: rgb(15, 15, 15);
  font-size: 0.45rem;
  text-shadow: 0.05rem 0.05rem 0.05rem black;
}
#create_landing_page_btn {
  background: rgba(9, 9, 54, 0.836);
  color: rgb(213, 224, 230);
  border: transparent 1px solid;
  border-radius: 0.3rem;
  width: 7.5rem;
  height: 2.35rem;
  font-size: 0.4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 1.5;
  margin-bottom: 1.2rem;
  transition: all 0.2s;
}

#sec_footer_container {
  background: rgba(51, 51, 51, 1);
  margin: auto;
  display: flex;
  width: 100%;
  padding-left: 20%;
}
.para_sec_footer {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
#privacy {
  color: rgb(180, 69, 49);
  text-decoration: none;
}
.para_sec_footer {
  color: rgba(172, 172, 172, 1);
}
#privacy:hover {
  color: aqua;
}
